* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: dodgerblue;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --main-color: dodgerblue;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    transition: 0.5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0.1rem 1rem var(--shadow-color);
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.header.sticky .navbar a::before {
    opacity: 0.7;
    background: var(--main-color);
}

.header.sticky #darkModeIcon {
    color: var(--text-color);
    opacity: 0.9;
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    font-weight: 800;
    color: black;
    margin-right: 3.5rem;
    transition: 0.5s ease-in-out;
}

.navbar a:hover {
    color: goldenrod;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 0.4rem;
    background: var(--white-color);
}

.navbar {
    transition: 0.5s ease;
}

#darkModeIcon {
    font-size: 2.4rem;
    cursor: pointer;
    color: blue;
}

section {
    min-height: 60vh;
    padding: 6rem 7% 2rem;

}

.home {
    display: flex;
    align-items: center;
}


.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3.2rem;
    line-height: 2;
    font-weight: 700;
}

@keyframes professionRotate {

    0%,
    20% {
        transform: rotate(0deg);
    }

    25%,
    45% {
        transform: rotate(-90deg);
    }

    50%,
    70% {
        transform: rotate(-180deg);
    }

    75%,
    95% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }

}

.home-content h1 {
    font-weight: 700;
    font-size: 5.6rem;
    margin-bottom: 0.5rem;
}

.home-content p {
    font-size: 1.6rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 2rem solid var(--main-color);
    background: transparent;
    color: white;
    box-shadow: .2rem .5rem var(--shadow-color);
    border-radius: 50%;
    font-size: 3.8rem;
    margin: 2.5rem 1.5rem 3rem 0;
    transition: 0.5 ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    border: .2rem solid transparent;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s ease;
    background: #333;

}

.btn:hover::before {
    width: 100%;
}


.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 9s ease-out infinite;

}

.home .profession-container .profession {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    transform: rotate(calc(360deg/ 4*var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession i {
    font-size: 3.8rem;
}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
    /*text-align: center*/
}

.home .profession-box .circle {
    height: 560px;
    width: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession-container .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-container .profession:nth-child(2),
.home .profession-container .profession:nth-child(4) {
    padding-bottom: 20px;
}

.home .profession-container .over-lay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding-left: 400px;
    padding-top: 150px;
}

span {
    color: var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.about-img img {
    width: 40vw;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2rem;
    margin-top: 5px;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
    text-align: center;
    border-top: 6rem solid var(--main-color);
    border-bottom: 6rem solid var(--main-color);
    transition: 0.5s ease;
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services {
    min-height: auto;
    padding-bottom: 7rem;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-container .services-box:hover {
    box-shadow: 0.1rem 1rem var(--shadow-color);
    transform: scale(1.02);
}

.portfolio {
    padding-bottom: 10rem;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 2rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #333;
}

.testimonial-slide img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.5rem solid var(--bg-color);
    outline: 0.5rem solid var(--main-color);
}

.testimonial-slide h3 {
    font-size: 2.5rem;
    margin: 2rem 0;
}

.testimonial-slide p {
    font-size: 1.4rem;
    text-align: center;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
    max-width: 90rem;
    position: relative;
    width: 100%;
    padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
    background: yellowgreen;
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;

}

.testimonial-content .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 2rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}

.education-box {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;


}

.education-row {
    margin-right: 10px;
}


.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .tittle {
    font-size: 2.7rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    margin-left: 2rem;
    background: aliceblue;
}

.education-content .content {
    position: relative;
    margin: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;

}

.year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding: .5rem;
}

.year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding: .5rem;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: 1s ease;
    overflow: hidden;
}

.education-content .content:hover::before {
    width: 100%;
    z-index: -1;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

#menu-icon {
    display: none;
    font-size: 5rem;
    cursor: pointer;
    color: var(--white-color);
    margin-left: 10px;
    z-index: 10;

}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 255, 0.3);
    border-radius: .6rem;
    z-index: -1;
    transition: 0.5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--main-color);

}

.footer-text p {
    font-size: 3vmin;
    font-weight: 600;

}

.footer-icon-top a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--bg-color);
    border: 0.2rem var(--main-color);
    border-radius: .6rem;
}

.footer-icon-top a i {
    font-size: 3vmin;
    color: var(--main-color);
}

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .home .profession-container {
        font: 85.8rem;
    }

    .home .profession-container .profession-box {
        right: -12rem;
        height: 85.5rem;
    }

    .home .profession-container .over-lay {
        right: -9rem;
    }
}

@media (max-width:1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .home .profession-container .profession-box {
        right: -22rem;
    }

    .home .profession-container .over-lay {
        right: -15rem;
    }
}

@media (max-width:991px) {

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--main-color)
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home .profession-container .profession-box {
        right: -45rem;
    }

    .home .profession-container .over-lay {
        right: -39.5rem;
    }

    .home-img img {
        display: none;
    }

    .services,
    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }
}

@media (max-width:768px) {
    #menu-icon {
        display: block;
        color: blue;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    #darkModeIcon {
        position: absolute;
        right: 7rem;
        font-size: 5rem;
        color: var(--text-color);
        margin-bottom: .1rem;
        padding-right: 20px;
    }

    .home {
        padding: 0 10% 55rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.3rem;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content .social-media {
        margin: 2rem 0.75rem 2.5rem;
    }

    .home .profession-container .over-lay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;


    }

    .home .profession-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profession-container .profession-box {
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .profession-box .profession {
        position: absolute;
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--main-color);
        width: fit-content;
        height: 420px;
        z-index: 1;
        background-color: white;
        font-size: 1.2rem;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -335px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .home .profession-box .circle {
        position: absolute;
        width: 1000px;
        height: 1000px;
        z-index: -1;
    }

    .home .profession-box .profession:nth-child(1) i {
        margin-right: 0;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-img img {
        width: 70vw;
        margin-top: -2rem;
    }

    .services h2,
    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .education-box {
        flex-direction: column;
    }
}

@media (max-width:671px) {
    .portfolio .portfolio-container {
        grid-template-columns: 1fr;
    }
}

.education-box {
    flex-direction: column;
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    #darkModeIcon {
        right: 6rem;
    }

    .home {
        padding: 0 3% 30rem;
    }

    .about {
        margin-top: 16rem;
        z-index: -10;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(5px, -335px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-210px, -335px);
    }

    .contact form .input-box .input {
        width: 100%;
    }
}

@media (max-width:365px) {
    .about-img img {
        width: 90vw;
    }

    .education-box {
        flex-direction: column;
    }
}